@import "variables";

.content-container {
   border: $nav-border-black;
   width: $nav-width-large;
   height: 50px;
   margin-top: 50px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: $content-font-size;
   font-family: $primary-font;
}
//styles for main-content banner ended
.big-scoop-projekt {
   display: flex;
   height: auto;
   width: 100%;
}
