// _mixins.scss
//mixins främst är användbara för att återanvända större block av kod där samma regler tillämpas flera gånger med små variationer.
// När ska mixin användas?
//1. fler än 2 gemensamma stilar.
//2. återandvändbarhet i flera delar av projektet.
//3. Gemensamma föränringar av stil över hela projektet.

@mixin transition($properties, $duration: 0.4s, $ease: ease) {
   transition: $properties $duration $ease;
}
@mixin arrowStyles($rotation: 0deg, $duration: 3s) {
   transform: rotate($rotation);
   transition: transform($duration ease);
}

@mixin web-asset-styles {
   color: rgba(253, 183, 119, 1);
   font-size: 20px;
   font-weight: 600;
   background-color: $primary-color;
   padding: 13px 15px;
   margin: 4px;
   border: 1px solid rgba(253, 183, 119, 1);
   border-radius: 20px; /* Rundade kanter, justera efter behov */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20px; /* Sätt höjd för att centrera vertikalt */
   text-align: center; /* Centrera text horisontellt */
}
@mixin respond-to($breakpoint) {
   @if $breakpoint == small {
      @media (max-width: 600px) {
         @content;
      }
   } @else if $breakpoint == medium {
      @media (max-width: 900px) {
         @content;
      }
   } @else if $breakpoint == large {
      @media (max-width: 1200px) {
         @content;
      }
   } @else if $breakpoint == custom {
      @media (max-width: 951px) {
         @content;
      }
   }
}

// @mixin contentContainer();
