//veriabler colors
$primary-color: rgba(237, 234, 226, 1);
$primary-color-transparent: rgba(237, 234, 226, 0.797);
$primary-style-color: #000;
$secondary-style-color: rgba(173, 186, 254, 1);
$text-style-color: rgba(253, 183, 119, 1);

//veriable nav width
$nav-width-large: 98.9vw;
$nav-width-medium: 88.9vw;
$nav-width-small: 78.9vw;
$nav-width-folded-small: 10vw;
$nav-width-folded-medium: 20vw;
$nav-border-radius: 0 0 80px 0;
$nav-border-black: 1px solid black;
$nav-z-index-1: 1;
$nav-z-index-2: 2;
$nav-z-index-3: 3;

//veriables padding and margin
$nav-padding-top: 20px;
$nav-padding-left: 60px;
$nav-margin-bottom: 50px;
$radius: 10px;

//absolut veriables for nav, headings and arrows
//arrows
$arrow-position-bottom: 25px;
$arrow-position-right: 30px;
//headings
$work-heading-top-position: 90px;
$education-heading-top-position: 45px;
//nav
$top0: 0;
$left0: 0;

//veriables fonts
$section-heading: 30px;
$content-font-size: 18px;
$primary-font: Arial;
$h-font: Arial;
$rotationheading: 90deg;
$whitecolor: white;

//veriables main content
$mainH1: 60px;
$fontsize-h2: 30px;
$main-padding-right: 60px;
