@charset "UTF-8";
/* kompilera sass till css när du är klar */
@import "normalize.css";
.header {
  display: flex;
  width: 100%;
  height: 70vh;
}

.nav {
  display: flex;
  position: relative;
}
.nav__item {
  height: 70vh;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0 0 80px 0;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
}
.nav .nav-content-container {
  display: flex;
}
.nav .nav-content {
  width: 90vw;
  margin-bottom: 50px;
  padding-top: 20px;
  padding-left: 60px;
  overflow: hidden;
  position: relative;
}

.tab-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}
.tab-content h1 {
  transition: all 0.4s ease-in-out;
  color: white;
  position: absolute;
  white-space: nowrap;
}

#nav-start {
  width: 78.9vw;
  background-color: rgb(237, 234, 226);
  z-index: 3;
  transition: width 0.4s ease;
}
#nav-start.compressed {
  width: 10vw;
}
#nav-start .tab-content .open {
  top: 10px;
  left: 40px;
}
#nav-start .tab-content .closed {
  rotate: 90deg;
  top: 110px;
  right: -120px;
}

#nav-work-tab {
  width: 88.9vw;
  background-color: rgb(173, 186, 254);
  z-index: 2;
  transition: width 0.4s ease;
}
#nav-work-tab.compressed {
  width: 20vw;
}
#nav-work-tab .tab-content .closed {
  rotate: 90deg;
  top: 90px;
  right: 15px;
}
#nav-work-tab .tab-content .open {
  rotate: 90deg;
  top: 90px;
  right: -100px;
}

#nav-education-tab {
  width: 98.9vw;
  background-color: #000;
  z-index: 1;
}
#nav-education-tab .tab-content .open {
  rotate: 90deg;
  top: 45px;
  right: -45px;
}
#nav-education-tab .tab-content .closed {
  rotate: 90deg;
  top: 45px;
  right: 60px;
}

.arrow-container {
  position: absolute;
  z-index: 3;
  bottom: 25px;
  right: 30px;
}
.arrow-container__startTabArrow {
  transform: rotate(0deg);
  transition: transform(3s ease);
}
.arrow-container__workTabArrow {
  transform: rotate(0deg);
  transition: transform(3s ease);
}

.no-rotate {
  transform: none !important;
}

.content-container {
  width: 98.9vw;
  height: 50px;
  margin-top: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-family: Arial;
}

.portfolio-heading {
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 60px;
  border-bottom: 1px solid black;
  font-size: 60px;
}

.own-projects {
  max-width: 1400px;
  height: auto;
  margin: 60px auto;
  padding: 0px 20px;
  overflow: hidden;
}
.own-projects .projects-heading-main {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 30px;
}
.own-projects .project-slide {
  width: auto;
  height: auto;
  white-space: nowrap;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 60px;
}

.other-projects-container {
  max-width: 600px;
  min-width: 300px;
  width: 25%;
  height: 400px;
  margin-bottom: 20px;
  flex-shrink: 0;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.7s ease-in-out;
}
.other-projects-container.expanded {
  width: 100%;
  scroll-snap-align: center;
}

#size-ajustments {
  max-width: 700px;
  min-width: 300px;
  width: 20%;
  height: 300px;
}
#size-ajustments.expanded {
  width: 100%;
  scroll-snap-align: center;
}

.project-container {
  max-width: 950px;
  min-width: 300px;
  width: 25%;
  height: 400px;
  margin-bottom: 20px;
  flex-shrink: 0;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.7s ease-in-out;
}
.project-container.expanded {
  width: 100%;
  scroll-snap-align: center;
}
.project-container .project-content-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  pointer-events: none;
}
.project-container .project-content-container.expanded {
  width: 300px;
}
.project-container .overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(173, 186, 254, 0.2);
  border-radius: 10px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.project-container .overlay.expanded {
  display: none !important;
}
.project-container .project-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  transition: width 0.6s ease-in-out;
}
.project-container .project-img.expanded {
  width: 300px;
}
.project-container .project-img.expanded #element-size-adjustment {
  width: 200px;
  transition: width 0.6s ease-in-out;
}
@media (max-width: 951px) {
  .project-container .project-img.expanded {
    width: 270px !important;
  }
}
.project-container .image-element {
  max-width: 340px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid black;
}
.project-container .web-assets {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 20px;
  pointer-events: none;
}
.project-container .web-assets div {
  color: rgb(253, 183, 119);
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(237, 234, 226);
  padding: 13px 15px;
  margin: 4px;
  border: 1px solid rgb(253, 183, 119);
  border-radius: 20px; /* Rundade kanter, justera efter behov */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Sätt höjd för att centrera vertikalt */
  text-align: center; /* Centrera text horisontellt */
}
.project-container .web-assets.expanded {
  display: none;
}
.project-container .project-description-container {
  width: 650px;
  max-height: 400px;
  overflow-y: auto;
  display: none;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
  transition: width 0.7s ease-in-out, opacity 1s ease, visibility 0.4s ease;
}
.project-container .project-description-container.expanded {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.project-container .project-description-container .web-assets-copy {
  display: flex;
  width: 100%;
  height: auto;
}
.project-container .project-description-container .web-assets-copy div {
  color: rgb(253, 183, 119);
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(237, 234, 226);
  padding: 13px 15px;
  margin: 4px;
  border: 1px solid rgb(253, 183, 119);
  border-radius: 20px; /* Rundade kanter, justera efter behov */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Sätt höjd för att centrera vertikalt */
  text-align: center; /* Centrera text horisontellt */
  height: 16px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 13px;
}
.project-container .project-description-container .web-assets-copy div:first-child {
  margin-left: 0px;
}
.project-container .project-description-container .project-header-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-top: 20px !important;
}
.project-container .project-description-container .project-name {
  width: 50%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
}
.project-container .project-description-container .github-link {
  margin-top: 10px;
  color: black;
  text-decoration: none;
}
.project-container .project-description-container .github-icon {
  width: 25px;
  height: 25px;
}
.project-container .small-heading {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.project-container .description-paragraph {
  white-space: normal !important;
  word-wrap: break-word !important;
  overflow: hidden;
  margin: 10px 0px;
  font-size: 14px;
}
.project-container .project-header-container {
  background-color: 0;
}

.footer {
  height: 10000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
  background-color: rgb(237, 234, 226);
}

h1 {
  font-size: 30px;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
