@charset "UTF-8";
/* kompilera sass till css när du är klar */
@import "normalize.css";
.header {
  display: flex;
  width: 100%;
  height: 70vh;
}

.nav {
  display: flex;
  position: relative;
}
.nav__item {
  height: 70vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 0 0 80px 0;
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}
.nav .nav-content-container {
  display: flex;
}
.nav .nav-content {
  position: relative;
  overflow: hidden;
  width: 90vw;
  padding-top: 20px;
  padding-left: 60px;
  margin-bottom: 50px;
}

.tab-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.tab-content h1 {
  transition: all 0.4s ease-in-out;
  color: white;
  position: absolute;
  white-space: nowrap;
}

#nav-start {
  width: 80vw;
  background-color: rgb(237, 234, 226);
  z-index: 3;
  transition: width 0.4s ease;
}
#nav-start.compressed {
  width: 10vw;
}
#nav-start .tab-content .open {
  top: 10px;
  left: 40px;
}
#nav-start .tab-content .closed {
  rotate: 90deg;
  top: 110px;
  right: -120px;
}

#nav-work-tab {
  width: 90vw;
  background-color: rgb(173, 186, 254);
  z-index: 2;
  transition: width 0.4s ease;
}
#nav-work-tab.compressed {
  width: 20vw;
}
#nav-work-tab .tab-content .closed {
  rotate: 90deg;
  top: 90px;
  right: 15px;
}
#nav-work-tab .tab-content .open {
  rotate: 90deg;
  top: 90px;
  right: -100px;
}

#nav-education-tab {
  width: 100vw;
  background-color: #000;
  z-index: 1;
}
#nav-education-tab .tab-content .open {
  rotate: 90deg;
  top: 45px;
  right: -45px;
}
#nav-education-tab .tab-content .closed {
  rotate: 90deg;
  top: 45px;
  right: 60px;
}

.arrow-container {
  position: absolute;
  bottom: 25px;
  right: 30px;
  z-index: 3;
}
.arrow-container__startTabArrow {
  transform: rotate(0deg);
  transition: transform(3s ease);
}
.arrow-container__workTabArrow {
  transform: rotate(0deg);
  transition: transform(3s ease);
}

.no-rotate {
  transform: none !important;
}

.content-container {
  border: 1px solid black;
  width: 100vw;
  height: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-family: Arial;
}

.big-scoop-projekt {
  display: flex;
  height: auto;
  width: 100%;
}

div .portfolio-heading {
  padding-left: 60px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 60px;
  border-bottom: 1px solid black;
}

.own-projects {
  margin: 60px auto;
  max-width: 1400px;
  overflow: hidden;
  height: 543px;
}
.own-projects h2 {
  margin-left: 60px;
  margin-bottom: 20px;
  font-size: 30px;
}
.own-projects .project-slide {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: auto;
  height: 420px;
  white-space: nowrap;
}

.project-container {
  height: auto;
  width: 350px;
  flex-shrink: 0;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
  background-color: rgb(237, 234, 226);
}

h1 {
  font-size: 30px;
  font-family: Arial;
}

p {
  font-family: Arial;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
